@import "./global.scss";

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

  .content{
    flex: 1;
    @include display-flex(column, nowrap, stretch, stretch, stretch);
    width: 100%;
    margin-top: 38px;
  }
}