@import "./sass-variable.scss";

.category-title{
  margin: 15px 0;
  border-bottom: 1px $link-hover-color solid;
  padding-bottom: 20px;

  h1{
    line-height: 30px;
    font-size: 1.5rem;
    padding-left: 20px;
    position: relative;
    color: $link-hover-color;

    &:before{
      content : '';
      position: absolute;
      left:0;
      top: 0;
      height:100%;
      border-left: 5px #5CACEE solid;
    }
  }

  p{
    padding-left: 20px;
    margin-top: 5px;
    color: $text-color;
    font-size: .85rem;
  }
}